<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submitting</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'scoring/style.css' %}">

</head>
<body>
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>期末專題 <br> 評分系統 <br> (目前提供範例題目評分)</h1>
      </div>

      <div class="login-form">

        <form class="ui form" action="" method="post">
        {% csrf_token %}
          <div class="control-group">
            <input type="" name="studentID" placeholder="請輸入一位組員之學號">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>

          <div class="control-group">
          <input type="" name="answer" placeholder="請輸入答案(依規定之JSON格式)">
          <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <button class="btn btn-primary btn-large btn-block" type="submit" id="submit">繳交</button>
        </form>

      </div>
    </div>
  </div>

    
</body>
</html>