<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submitting</title>
</head>
<body>
  <!--   <form action="/scoring/add/" method="post" enctype="text/plain">
        {% csrf_token %}
        <table>
            <tr>
                <td> {{form.Std_ID.label}} </td>
                <td> {{form.Std_ID}} </td>
            </tr>
        </table>

        <input type="submit" value="提交">
    </form> -->


    <form class="ui form" action="" method="post">
      {% csrf_token %}
      <table class="ui inverted unstackable green table">
        <thead>
          <tr>
          <th>學號</th>
          <th>json</th>
          </tr>
        </thead>
        <tbody>

        <tr style="color:red">
          <td style="color:red">學號</td>
          <td>
            <div class="ui fluid">
              <input type="" name="studentID">
              <!--{s}_g指的是該小隊員的性別-->
              <i class="dropdown icon"></i>
            </div> 
          </td>

          <td>
            <div class="ui fluid">
              <input type="" name="answer">
              <i class="dropdown icon"></i>
              <div class="default text">json答案</div>
            </div> 
          </td>
        </tr>
        </tbody>
      </table>
      <button class="ui button" type="submit" id="submit">Submit</button>
    </form>
</body>
</html>