<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submitting</title>
</head>
<body>
    <form action="/scoring/add/" method="post" enctype="text/plain">
        {% csrf_token %}
        <table>
                <tr>
                    <td> {{form.Std_ID.label}} </td>
                    <td> {{form.Std_ID}} </td>
                </tr>

                <tr>
                    <td> {{form.Json_Str.label}} </td>
                    <td> {{form.Json_Str}} </td>
                </tr>
            </table>

        <input type="submit" value="提交">
    </form>
</body>
</html>